.container {
    width: 80%;
    height:500px;
    margin: auto;
    padding: 10px;
  }
  
  .market-text {
    margin-top:60px;
    width: 50%;
    height: 500px;
    float: right;

  }
  .market-text{
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;

  }
  
  .market-img {
    width: 50%;
    margin-right: 50%;
    height: 500px;
    
  }

  .market-img img {
      margin:90px;
      padding: 10px;
      width: 250px;
      height: 250px
  }